/*Ici je définis les variables sass de mon projet*/

/*couleur*/

$color-bg-white: #ffffff;
$color-bg-grey: #ededed;
$color-bg-blue: #0d172d;
$color-secondary-orange:#ff9400;
$color-secondary-black:#333333;


$default-size: 1rem;
$default-font-size: 1.6$default-size;

$default-font-family:'Shizuru', cursive;

